.container {
    text-align: center;
    padding: 20px;
  }
  
  .title {
    color: #0077b6;
  }
  
  .buttonLink {
    text-decoration: none;
  }
  
  .button {
    background-color: #0077b6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #005b8c;
  }
  