.cardContainer {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    padding: 20px;
  }
  
  .title {
    font-size: 1.8em;
    color: #0077b6;
    margin-bottom: 10px;
  }
  
  .servicesList {
    list-style-type: none;
    padding: 0;
  }
  
  .servicesList li {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .servicesList li strong {
    color: #0077b6;
  }
  