.turno {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    /* Agrega estilos adicionales según sea necesario */
  }
  
  .turno h2 {
    margin-bottom: 5px;
  }
  
  .turno p {
    margin: 5px 0;
  }
  